@page "/"

<PageTitle>Student Theme Poll</PageTitle>

<h1>Welcome to DIO Static App</h1>

<p>Help us choose the next theme for our educational sessions by participating in our poll below.</p>

<Poll />
